<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_3</display-name>
  <servlet><!-- 톰캣이 객체 자동 생성 -->
  	<servlet-name>point</servlet-name>
  	<servlet-class>com.naver.point.PointController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>point</servlet-name>
  <url-pattern>/point/*</url-pattern>
  </servlet-mapping>
  
  
  
 <servlet>
 <servlet-name>home</servlet-name>
 <servlet-class>com.naver.home.HomeController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>home</servlet-name>
 <url-pattern>/</url-pattern>
 
 </servlet-mapping>
</web-app>